<div>
  <div style="margin: 20px">
    <h1>Proveedores</h1>
  </div>

  <button mat-raised-button (click)="openDialogAddPartner()" color="primary" style="margin-left: 20px">Agregar Proveedor</button>

  <div class="mat-elevation-z4 container">

    <table #tablePartners class="row-border hover">

    </table>
  </div>
</div>
