<h1 mat-dialog-title>Agregar Articulo</h1>
<div mat-dialog-content>
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-form-field appearance="fill" style="margin: 5px">
      <mat-label>Código</mat-label>
      <input matInput [(ngModel)]="data.code">
    </mat-form-field>
    <mat-form-field appearance="fill" style="margin: 5px">
      <mat-label>Nombre</mat-label>
      <input matInput [(ngModel)]="data.name">
    </mat-form-field>
    <mat-form-field appearance="fill" style="margin: 5px">
      <mat-label>NIR Proveedor</mat-label>
      <input matInput [(ngModel)]="data.partner.vat">
    </mat-form-field>
    <button mat-raised-button (click)="searchPartner()"><mat-icon aria-hidden="false" aria-label="Buscar Proveedor">search</mat-icon></button>
    <mat-form-field appearance="fill" style="margin: 5px">
      <mat-label>Nombre del Proveedor</mat-label>
      <input matInput [(ngModel)]="data.partner.nameCompany" disabled style="color: black; font-weight: bold">
    </mat-form-field >
  </mat-grid-list>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="closeDialog()">Cancelar</button>
  <button mat-button (click)="doAction()" cdkFocusInitial>Agregar</button>
</div>
