<div>
  <div style="margin: 20px">
    <h1>Facturas</h1>
  </div>
  <a mat-raised-button href="/addInvoice" color="primary" style="margin-left: 20px">Agregar Factura</a>
  <div class="mat-elevation-z4 container">

    <table #tableInvoices class="row-border hover">

    </table>
  </div>
</div>
