<div>
  <div style="margin: 20px">
    <h1>Nueva Factura</h1>
  </div>
  <a mat-raised-button (click)="addInvoice()" color="accent" style="margin-left: 20px">Guardar</a>
  <div class="mat-elevation-z4 container">


      <mat-form-field appearance="fill">
        <mat-label>Número de Factura</mat-label>
        <input matInput [(ngModel)]="number">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Fecha de Factura</mat-label>
        <input matInput type="date"  [(ngModel)]="date">
      </mat-form-field>
      <br/>
      <mat-form-field appearance="fill">
        <mat-label>Documento del Cliente</mat-label>
        <input matInput [(ngModel)]="document" (change)="changeDocument()" (keyup.enter)="searchClient()">
      </mat-form-field>
      <button mat-raised-button (click)="searchClient()"><mat-icon aria-hidden="false" aria-label="Buscar Cliente">search</mat-icon></button>

      <mat-form-field appearance="fill" style="max-width: 400px; width: 100%;">
        <mat-label>Nombre del Cliente</mat-label>
        <input matInput disabled [(ngModel)]="name"  style="color: black; font-weight: bold">
      </mat-form-field>
      <mat-form-field appearance="fill" style="max-width: 300px; width: 100%;">
        <mat-label>Dirección del Cliente</mat-label>
        <input matInput disabled [(ngModel)]="address"  style="color: black; font-weight: bold">
      </mat-form-field>
      <div>
        <h3>Detalles de la factura</h3>
        <button  mat-raised-button (click)="addDetails()">Agregar Articulo</button>
        <div class=" mat-elevation-z1" style="width: 100%">
          <table mat-table #tblDetails [dataSource]="transactions" style="width: 100%">
            <!-- Item Column -->
            <ng-container matColumnDef="code">
              <th mat-header-cell *matHeaderCellDef> Código </th>
              <td mat-cell *matCellDef="let transaction"> {{transaction.code}} </td>
              <td mat-footer-cell *matFooterCellDef> Total </td>
            </ng-container>

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Artículo </th>
              <td mat-cell *matCellDef="let transaction"> {{transaction.name}} </td>
              <td mat-footer-cell *matFooterCellDef>  </td>
            </ng-container>

            <ng-container matColumnDef="cant">
              <th mat-header-cell *matHeaderCellDef> Cantidad </th>
              <td mat-cell *matCellDef="let transaction"> {{transaction.cant}} </td>
              <td mat-footer-cell *matFooterCellDef>  </td>
            </ng-container>

            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef> Precio Unitario </th>
              <td mat-cell *matCellDef="let transaction"> {{transaction.price | currency}} </td>
              <td mat-footer-cell *matFooterCellDef>  </td>
            </ng-container>

            <ng-container matColumnDef="subt">
              <th mat-header-cell *matHeaderCellDef> Sub Total </th>
              <td mat-cell *matCellDef="let transaction"> {{transaction.subt | currency}} </td>
              <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency}} </td>
            </ng-container>

             Cost Column
            <ng-container matColumnDef="cost">
              <th mat-header-cell *matHeaderCellDef> Cost </th>
              <td mat-cell *matCellDef="let transaction"> {{transaction.cost | currency}} </td>
              <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
          </table>
        </div>
      </div>


  </div>
</div>
