<div>
  <div style="margin: 20px">
    <h1>Articulos</h1>
  </div>
  <button mat-raised-button (click)="openDialogAddArticles()" color="primary" style="margin-left: 20px">Agregar Articulo</button>
  <div class="mat-elevation-z4 container">
    <table #tableArticles class="row-border hover">

    </table>
  </div>
</div>
