<div style="width: 100%; display: flex; margin: 5px">
  <div style="width: 45%; margin: 10px">
    <br/>
    <h2>Artículos vendidos por mes</h2>
    <mat-card style="width: 90%">
      <table #tableSales class="row-border hover" style="width: 100%">

      </table>
    </mat-card>
  </div>
  <div style="width: 45%;margin: 10px">
    <br/>
    <h2>Artículos no vendidos</h2>
    <mat-card style="width: 90%">
      <table #tableNotSales class="row-border hover">

      </table>
    </mat-card>
  </div>
</div>
<div style="width: 100%; margin: 15px;">
  <br/>
  <h2>Clientes con mayor consumo (>$ 150.000,00)</h2>
  <mat-card style="width: 90%">
    <table #tableSalesClients class="row-border hover">

    </table>
  </mat-card>
</div>



