<h1 mat-dialog-title>Agregar Cliente</h1>
<div mat-dialog-content>
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-form-field appearance="fill" style="margin: 5px">
      <mat-label>Documento</mat-label>
      <input matInput [(ngModel)]="data.document">
    </mat-form-field>
    <mat-form-field appearance="fill" style="margin: 5px">
      <mat-label>Nombres</mat-label>
      <input matInput [(ngModel)]="data.firstName">
    </mat-form-field>
    <mat-form-field appearance="fill" style="margin: 5px">
      <mat-label>Apellidos</mat-label>
      <input matInput [(ngModel)]="data.lastName">
    </mat-form-field>
    <mat-form-field appearance="fill" style="margin: 5px">
      <mat-label>Dirección</mat-label>
      <input matInput [(ngModel)]="data.address">
    </mat-form-field >
  </mat-grid-list>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="closeDialog()">Cancelar</button>
  <button mat-button (click)="doAction()" cdkFocusInitial>Agregar</button>
</div>
