<div>
  <div style="margin: 20px">
    <h1>Clientes</h1>
  </div>
  <button mat-raised-button (click)="openDialogAddCliente()" color="primary" style="margin-left: 20px">Agregar Cliente</button>
  <div class="mat-elevation-z4 container">

    <table #tableClients class="row-border hover">

    </table>
  </div>
</div>



