<h1 mat-dialog-title>Agregar Articulo</h1>
<div mat-dialog-content>
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-form-field appearance="fill" style="margin: 5px">
      <mat-label>Código</mat-label>
      <input matInput [(ngModel)]="code" (change)="changeCode()" (keyup.enter)="searchArticle()">
    </mat-form-field>
    <button mat-raised-button (click)="searchArticle()"><mat-icon aria-hidden="false" aria-label="Buscar Articulo">search</mat-icon></button>
    <br/>
    <mat-form-field appearance="fill" style="margin: 5px; width: 100%">
      <mat-label>Artículo</mat-label>
      <input matInput [(ngModel)]="name" disabled style="color: black; font-weight: bold">
    </mat-form-field>
    <mat-form-field appearance="fill" style="margin: 5px; width: 30%">
      <mat-label>Cantidad</mat-label>
      <input matInput [(ngModel)]="cant" (change)="onChange()" (keyup)="onChange()">
    </mat-form-field>
    <mat-form-field appearance="fill" style="margin: 5px; width: 30%">
      <mat-label>Precio</mat-label>
      <input matInput [(ngModel)]="price" (change)="onChange()" (keyup)="onChange()">
    </mat-form-field >
    <mat-form-field appearance="fill" style="margin: 5px; width: 30%">
      <mat-label>Sub Total</mat-label>
      <input matInput [(ngModel)]="subt" disabled  style="color: black; font-weight: bold">
    </mat-form-field >
  </mat-grid-list>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="closeDialog()">Cancelar</button>
  <button mat-button (click)="doAction()" cdkFocusInitial>Agregar</button>
</div>
